<h1>Editing Security And Privacy Vulnerability</h1>

<%= render 'form', security_and_privacy_vulnerability: @security_and_privacy_vulnerability %>

<%= link_to 'Show', @security_and_privacy_vulnerability %> |
<%= link_to 'Back', security_and_privacy_vulnerabilities_path %>
